*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color:rgb(61, 57, 57);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
    align-items: center;
}
.li_item{
    margin-right: 20px;
    padding-right: 7px;
    font-size: 18px;
}
.li_item:hover{
    color: blue;
    cursor: pointer;
}

.banner_img{
    width: 300px;
}

.banner-container{
    height: 100vh;
    /* background-color: rgb(75, 66, 118); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: url("./img/background.png"), linear-gradient(45deg,rgb(8, 8, 8),rgb(49, 46, 46));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color: blueviolet;
}
.about-container{
    height: 80vh;
    background-color: white;
}
.abt{
    margin-top: 1rem;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.about-2-side{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.about_img{
    width: 300px;
}
.about_title{
    font-size: 30px;
    font-weight: bold;
}